<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="math.HomePage_W3School"/>
      <class name="math.NewTestNG"/>
      <class name="math.W3School"/>
      <class name="math.TestQLDT"/>
      <class name="math.TestFaceBookLogin"/>
      <class name="math.NewTestNG1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
