<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Math">
  
  <test thread-count="5" name="TestAllMath">
  <groups>
  	<run>
  		<include name="basic"></include>
  	</run>
  </groups>
    <classes>
      <class name="math.FirstTestNG"/>
    </classes>
  </test> <!-- TestAllMath -->
  
  <test thread-count="5" name="TestSub">
    <classes>
      <class name="math.NewMathTest"/>
    </classes>
  </test>
  
</suite> <!-- Math -->
